
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
    <div class="container">
      <h2>Not Here</h2>
    
      <cdk-drop #todoList [data]="NotHere" [connectedTo]="[doneList]" class="list" (dropped)="drop($event)">
        <mat-list *ngFor="let person of NotHere" cdkDrag [cdkDragData]="person">
          <mat-list-item>
            <mat-icon mat-list-icon>person_outline</mat-icon>
            <h4 mat-line>{{person}}</h4>
          </mat-list-item>
        </mat-list>
      </cdk-drop>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
    <div class="container">
      <h2>Here</h2>
    
      <!--<cdk-drop #doneList [data]="Here" [connectedTo]="[todoList]" class="list" (dropped)="drop($event)">
        <div class="box" *ngFor="let item of Here" cdkDrag>{{item}}</div>
      </cdk-drop>-->
    
      <cdk-drop #doneList [data]="Here" [connectedTo]="[todoList]" class="list" (dropped)="drop($event)">
          <mat-list *ngFor="let person of Here" cdkDrag [cdkDragData]="person">
            <mat-list-item>
              <mat-icon mat-list-icon>person</mat-icon>
              <h4 mat-line>{{person}}</h4>
            </mat-list-item>
          </mat-list>
        </cdk-drop>
      
    </div>
  </div>

</div>